html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url('assets/kderma2.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  

}

.card {
  width: 350px;
  padding: 1.9rem 1.2rem;
  margin-left: 125px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8); 
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  border: 2px solid #e4a8a8; 
  border-radius: 12px; 
 
}


.form-control{
  background: none;
  outline: none;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6); 
  padding: 8px;
  border: 1px solid #e4a8a8; 
  border-radius: 4px;
  box-sizing: border-box; 
}
.form-control:focus {
  border-color: #d83973; /* Pink border color on focus */
  box-shadow: 0 0 5px rgba(214, 43, 106, 0.5); /* Soft pink glow */
}
form h3 {
  font-size: 24px;
  color: #f4b2b2; 
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 15px;
}

.forgot-password a {
  text-decoration: none;
  color: #e4a8a8; 
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  text-align: left;
}

button.btn{
  width: 100%;
  background-color:  #f4b2b2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease; 
  
}
button.btn:hover {
  background-color: #fac5c5;;
  color: white;
}

.create-new {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.create-new a{
  text-decoration: none;
  color: #e4a8a8;
  
}

.create-new span {
  color: #f4b2b2;
}